<!--Refer to /api/services/BaseViewModel.js for common view model properties that are used in this layout-->

<!DOCTYPE html>
<html>
  <head>
    <% if (typeof vm !== "undefined") { %>
      <title><%= vm.title %></title>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <!--STYLES END-->
  </head>

  <body>
    <% if (typeof vm !== "undefined") { %>
    <input id="hdn-vm" type="hidden" value="<%= JSON.stringify(vm) %>" />
    <% } %>

    <input id="hdn-csrf" type="hidden" value="<%= _csrf %>" />

    <% if (typeof vm === "undefined" || vm.header.hide === false) { %>
      <header>
      <%- partial('components/header.ejs') %>
      </header>
    <% } %>

    <main class="container-fluid">
      <%- body %>
    </main>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--LIVERELOAD CHROME PLUGIN-->
    <% if (sails.config.livereloadPath) { %>
        <script src="<%= sails.config.livereloadPath %>"></script>
    <% } %>
    <!--LIVERELOAD CHROME PLUGIN END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/dependencies/tether.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/jquery.validate.min.js"></script>
    <script src="/js/dependencies/linq.min.js"></script>
    <script src="/js/inhouse/Shared.js"></script>
    <script src="/js/inhouse/Client.js"></script>
    <script src="/js/inhouse/CustomValidator.js"></script>
    <script src="/js/inhouse/Account.js"></script>
    <script src="/js/inhouse/EventBinder.js"></script>
    <!--SCRIPTS END-->

    <!--Additional scripts-->
    <% if (typeof vm !== "undefined") { %>
        <% for (var i = 0; i < vm.scripts.length; i++) { %>
            <script src="/js/<%= vm.scripts[i] %>.js"></script>
        <% } %>
    <% } %>
  </body>
</html>
