<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <!--STYLES END-->

    <!--Additional styles-->
    <% if (typeof styles !== "undefined") { %>
        <% for (var i = 0; i < styles.length; i++) { %>
        <link rel="stylesheet" href="/styles/<%= styles[i] %>.css" />
        <% } %>
    <% } %>
  </head>

  <body>
    <header>
    <%- partial('components/header.ejs') %>
    </header>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--LIVERELOAD CHROME PLUGIN-->
    <% if (sails.config.livereloadPath) { %>
        <script src="<%= sails.config.livereloadPath %>"></script>
    <% } %>
    <!--LIVERELOAD CHROME PLUGIN END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/dependencies/tether.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/jquery.validate.min.js"></script>
    <script src="/js/inhouse/Shared.js"></script>
    <script src="/js/inhouse/CustomValidator.js"></script>
    <script src="/js/inhouse/Account.js"></script>
    <script src="/js/inhouse/EventBinder.js"></script>
    <!--SCRIPTS END-->

    <!--Additional scripts-->
    <% if (typeof scripts !== "undefined") { %>
        <% for (var i = 0; i < scripts.length; i++) { %>
            <script src="/js/<%= scripts[i] %>.js"></script>
        <% } %>
    <% } %>
  </body>
</html>
