<!--
  Common view model properties:
    scripts:      List of js files to load that is relevant to this module
    styles:       List of css files to load that is relevant to this module
    title:        Title of the browser tab
    hideHeader:   Indicates whether to hide the header or not, default is false
-->

<!DOCTYPE html>
<html>
  <head>
    <% if (typeof vm !== "undefined") { %>
      <title><%= vm.title %></title>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <!--STYLES END-->

    <!--Additional styles-->
    <% if (typeof vm !== "undefined") { %>
        <% for (var i = 0; i < vm.styles.length; i++) { %>
        <link rel="stylesheet" href="/styles/<%= vm.styles[i] %>.css" />
        <% } %>
    <% } %>
  </head>

  <body>
    <% if (typeof vm === "undefined" || vm.hideHeader === false) { %>
      <header>
      <%- partial('components/header.ejs') %>
      </header>
    <% } %>

    <main class="container-fluid">
      <%- body %>
    </main>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--LIVERELOAD CHROME PLUGIN-->
    <% if (sails.config.livereloadPath) { %>
        <script src="<%= sails.config.livereloadPath %>"></script>
    <% } %>
    <!--LIVERELOAD CHROME PLUGIN END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/dependencies/tether.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/jquery.validate.min.js"></script>
    <script src="/js/dependencies/summernote.min.js"></script>
    <script src="/js/inhouse/Shared.js"></script>
    <script src="/js/inhouse/CustomValidator.js"></script>
    <script src="/js/inhouse/Account.js"></script>
    <script src="/js/inhouse/Thread.js"></script>
    <script src="/js/inhouse/EventBinder.js"></script>
    <!--SCRIPTS END-->

    <!--Copy view model into client side-->
    <% if (typeof vm !== "undefined") { %>
      <script>
        window.vm = JSON.parse('<%- JSON.stringify(vm) %>');
      </script>
    <% } %>

    <!--Additional scripts-->
    <% if (typeof vm !== "undefined") { %>
        <% for (var i = 0; i < vm.scripts.length; i++) { %>
            <script src="/js/<%= vm.scripts[i] %>.js"></script>
        <% } %>
    <% } %>
  </body>
</html>
