<div class="container">
    <h3>User</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Title</th>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% _.each(users, function(user){ %>
        <tr data-id="<%= user.id %>" data-model="user">
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.title %></td>
            <td><%= user.email %></td>
            <td><a class="btn btn-sm btn-primary" href="/user/show/<%= user.id %>">Show</a></td>
            <td><a class="btn btn-sm btn-primary" href="/user/edit/<%= user.id %>">Edit</a></td>
            <td>
                <form method="POST" action="/user/destroy/<%= user.id %>">
                    <input type="hidden" name="_method"  value="delete" />
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete" />
                    <input type="hidden" name=" _csrf" value="<%= _csrf %>"/>
                </form>
            </td>
        </tr>
        <% }) %>
    </table>
</div>